@use '../includes/lib' as *;

// Basic styling for some common elements

p,
ul,
ol,
dl,
table {
    margin: 0 0 1.25em;
}

code {
    font-family: var(--code-font-family);
    font-size: inherit;
    color: var(--text-color-accent);
}

hr {
    border: 0 solid var(--background-color-tertiary);
    border-top-width: 4px;
    margin: var(--layout-md) 0;

    @media #{$mq-lg} {
        margin: var(--layout-lg) 0;
    }
}

.fc5-t-accent {
    font-family: var(--accent-font-family);
}

.fc5-u-hidden {
    @include hidden;
}

.fc5-u-visually-hidden {
    @include visually-hidden;
}

.fc5-c-footnote {
    color: var(--text-color-secondary);
    font-size: var(--body-xs);
}
