@font-face {
    font-display: swap;
    font-family: "Clear Sans";
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/ClearSans-Bold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Clear Sans";
    font-style: italic;
    font-weight: normal;
    src: url("/assets/fonts/ClearSans-Italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Clear Sans";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/ClearSans-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Libre Bodoni";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/LibreBodoni-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Libre Bodoni";
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/LibreBodoni-Bold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Engagement;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/Engagement-Regular.woff2") format("woff2");
}
