@use '../includes/lib' as *;

// Base styles for heading elements
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-secondary);
    font-family: var(--title-font-family);
    font-weight: bold;
    line-height: var(--title-line-height);
    margin: 0 0 0.5em;
    text-wrap: pretty;
}

// Sizes are defined in includes/_tokens.scss
h1 {
    font-size: var(--title-xl);
}

h2 {
    font-size: var(--title-lg);
}

h3 {
    font-size: var(--title-md);
}

h4 {
    font-size: var(--title-sm);
}

h5 {
    font-size: var(--title-xs);
}

h6 {
    font-size: var(--title-2xs);
}
