@use '../includes/lib' as *;

// Base styles for heading elements
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-text-color);
    font-family: var(--title-font-family);
    font-weight: bold;
    line-height: var(--title-line-height);
    margin: 0 0 0.5em;
    text-wrap: balance;
}

// Type scale mixins can be found in includes/mixins/_typography.scss
// Sizes are defined in includes/_tokens.scss
h1 {
    @include text-title-xl;
}

h2 {
    @include text-title-lg;
}

h3 {
    @include text-title-md;
}

h4 {
    @include text-title-sm;
}

h5 {
    @include text-title-xs;
}

h6 {
    @include text-title-2xs;
}
