@use '../includes/lib' as *;

// We so rarely use tables that it's best not to give them any
// base styling and instead use a modifier class for those few
// times we need to display tabular data.
.fc5-u-data-table {
    border-collapse: collapse;
    border-spacing: 0;

    caption {
        font-style: italic;
        margin-bottom: 0.25em;
        text-align: left;
        width: 100%;
    }

    th,
    td {
        border-top: 2px solid var(--color-orange-light);
        padding: 0.5em 10px;
        text-align: left;

        @media (prefers-color-scheme: dark) {
            border-color: var(--color-blue-dark);
        }
    }

    thead th,
    thead td {
        border-top: 0;
        padding-top: 0;
    }
}
