{% extends "article-base.html" %}

{% block page_title %}Firefox Flicks : Work : Focal Curve{% endblock %}
{% block page_desc %}{% endblock %}

{% block article_header %}
  <h1 class="fc5-c-article-title">Firefox Flicks</h1>
  <p class="fc5-c-article-info">March, 2013</p>
  <p class="fc5-c-article-info">Design: Lee Tom</p>
{% endblock %}

{% block article_body %}
  <p>Firefox Flicks was a short film competition Mozilla ran in 2012 and 2013. It
    had a different website in 2012, but was redesigned for 2013. I did the
    front-end work and Michael Kelly did most of the back-end work.</p>

  <figure class="fc5-c-figure fc5-l-align-center fc5-t-border">
    <img src="/assets/img/work/firefox-flicks/page-800.jpg" srcset="/assets/img/work/firefox-flicks/page-1200.jpg 1.5x" alt="Screenshot of the page." width="800" height="537" loading="lazy">
    <figcaption>Alas, the home page features a carousel, as was the style at the time.</figcaption>
  </figure>

  <p>Mozilla didn’t repeat the contest after 2013 and the Flicks site has long since
    been decommissioned. The original subdomain now redirects, but the videos are
    all still available on Vimeo, and the blog is still available on Tumblr. The
    code is <a href="https://github.com/mozilla/firefox-flicks">archived on GitHub</a>.
    The copy of the home page you see here is somewhat stripped down to remove
    some redundant functionality and replace some dead links.</p>

  <p>
    <a href="/work/firefox-flicks/demo/" class="fc5-c-button">
      See the demo
      <span class="fc5-c-button-icon-end">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
          <path d="M14.8 7.7 9.3 2.2 8.2 3.3l4.2 4.2H1V9h11.4l-4.2 4.2 1.1 1.1 5.5-5.5c.1-.2.2-.4.2-.6s-.1-.3-.2-.5z" />
        </svg>
      </span>
    </a>
  </p>
{% endblock %}
