{% extends "article-base.html" %}

{% block page_title %}What’s New in Firefox 98 : Work : Focal Curve{% endblock %}
{% block page_desc %}{% endblock %}

{% block article_header %}
  <h1 class="fc5-c-article-title">What’s New Page for Firefox 98</h1>
  <p class="fc5-c-article-info">March, 2022</p>
  <p class="fc5-c-article-info">Design: JR Ingram</p>
{% endblock %}

{% block article_body %}
  {% include "includes/wnp-intro.html" %}

  <p>In early 2022, Disney/Pixar released <cite>Turning Red</cite> to streaming on
    Disney+. It’s a story about a 13-year-old girl named Mei who discovers that
    when she gets overly excited — especially if she’s embarrassed — she turns
    into a giant red panda. With the red panda connection, Mozilla saw an opportunity
    to partner with Disney to promote Firefox (red pandas are called firefoxes,
    though they are not foxes).</p>

  <img class="fc5-c-figure fc5-l-align-center" src="/assets/img/work/wnp-98/page-800.jpg" srcset="/assets/img/work/wnp-98/page-1200.jpg 1.5x" alt="Screenshot of the top section of the page, showing the Turning Red branding." width="800" height="480" loading="lazy">

  <p>Firefox 98 released on <a href="https://www.mozilla.org/firefox/98.0/releasenotes/">March 8, 2022</a>,
    just a few days before <cite>Turning Red</cite> premiered on Disney+. I built
    this What’s New Page directing users to a separate promotional website at
    truecolors.firefox.com (since decommissioned) to learn more about Firefox,
    especially showcasing the new colorways feature (since deprecated).</p>

  <p>Unfortunately many users mistook the What’s New Page as a paid advertisement,
    though that’s not really how these licensing deals work. Rather, this was a
    normal house ad for Firefox that used Disney/Pixar’s intellectual property,
    with their permission. It promoted the film, but that’s part of the licensing
    arrangement. Nevertheless, many people failed to make the Firefox/red panda
    connection and were put off by what they assumed to be a third-party ad injected
    into their web browser. The page was quickly taken down in response to some
    backlash.</p>

  <p>This was a cute campaign and a lot of people did a lot of really good work
    for it. It’s a shame it wasn’t more successful. It’s also a really cute, fun
    movie, and a shame that wasn’t more successful, too. I recommend it (spoilers:
    it’s a metaphor for puberty).</p>

  <p>
    <a href="/work/wnp-98/demo/" class="fc5-c-button">
      See the demo
      <span class="fc5-c-button-icon-end">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
          <path d="M14.8 7.7 9.3 2.2 8.2 3.3l4.2 4.2H1V9h11.4l-4.2 4.2 1.1 1.1 5.5-5.5c.1-.2.2-.4.2-.6s-.1-.3-.2-.5z" />
        </svg>
      </span>
    </a>
  </p>
{% endblock %}
