@use "includes/lib" as *;

// color swatches
.swatches {
    display: grid;
    gap: 2em 10px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.swatch {
    box-sizing: border-box;
    padding-top: 110px;
    position: relative;
    text-align: center;

    .val {
        display: block;
        font-family: var(--code-font-family);
    }

    &::before {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        content: '';
        display: block;
        height: 100px;
        left: 50%;
        margin-left: -50px;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        width: 100px;
    }

    @media #{$mq-md} {
        padding-top: 210px;

        &::before {
            height: 200px;
            margin-left: -100px;
            width: 200px;
        }
    }
}

.swatch-blue::before {
    background-color: var(--color-blue);
}
.swatch-blue-dark::before {
    background-color: var(--color-blue-dark);
}
.swatch-blue-darker::before {
    background-color: var(--color-blue-darker);
}
.swatch-blue-light::before {
    background-color: var(--color-blue-light);
}

.swatch-green::before {
    background-color: var(--color-green);
}
.swatch-green-dark::before {
    background-color: var(--color-green-dark);
}
.swatch-green-darker::before {
    background-color: var(--color-green-darker);
}
.swatch-green-light::before {
    background-color: var(--color-green-light);
}

.swatch-orange::before {
    background-color: var(--color-orange);
}
.swatch-orange-dark::before {
    background-color: var(--color-orange-dark);
}
.swatch-orange-darker::before {
    background-color: var(--color-orange-darker);
}
.swatch-orange-light::before {
    background-color: var(--color-orange-light);
}

.swatch-red::before {
    background-color: var(--color-red);
}
.swatch-red-dark::before {
    background-color: var(--color-red-dark);
}
.swatch-red-darker::before {
    background-color: var(--color-red-darker);
}
.swatch-red-light::before {
    background-color: var(--color-red-light);
}

.swatch-cream::before {
    background-color: var(--color-cream);
}
.swatch-cream-dark::before {
    background-color: var(--color-cream-dark);
}
.swatch-cream-darker::before {
    background-color: var(--color-cream-darker);
}

.swatch-ink::before {
    background-color: var(--color-ink);
}
.swatch-ink-light::before {
    background-color: var(--color-ink-light);
}
.swatch-ink-lighter::before {
    background-color: var(--color-ink-lighter);
}

.swatch-black::before {
    background-color: var(--color-black);
}
.swatch-white::before {
    background-color: var(--color-white);
}

.swatch-link::before {
    background-color: var(--color-link);
}
.swatch-link-hover::before {
    background-color: var(--color-link-hover);
}
.swatch-link-visited::before {
    background-color: var(--color-link-visited);
}
.swatch-link-visited-hover::before {
    background-color: var(--color-link-visited-hover);
}
