@use "includes/lib" as *;

.title-2xl { font-size: var(--title-2xl); }
.title-xl { font-size: var(--title-xl); }
.title-lg { font-size: var(--title-lg); }
.title-md { font-size: var(--title-md); }
.title-sm { font-size: var(--title-sm); }
.title-xs { font-size: var(--title-xs); }
.body-xl { font-size: var(--body-xl); }
.body-lg { font-size: var(--body-lg); }
.body-md { font-size: var(--body-md); }
.body-sm { font-size: var(--body-sm); }
.body-xs { font-size: var(--body-xs); }

.accent { @include font-accent; }

.label {
    font-size: var(--body-sm);
    color: var(--color-blue-dark);

    @media (prefers-color-scheme: dark) {
        color: var(--color-orange-light);
    }
}
