@use '../includes/lib' as *;

.fc5-c-article-header {
    border-bottom: 2px solid var(--accent-color-secondary);
    margin-bottom: var(--layout-md);
}

.fc5-c-article-info {
    font-size: var(--body-sm);

    &:has(+ &) {
        margin-bottom: 0;
    }
}
