@use '../includes/lib' as *;

.fc5-c-figure {
    display: block;
    margin: 0 auto var(--spacing-lg);
    text-align: center;

    &.fc5-t-border:not(figure),
    &.fc5-t-border img {
        border: 2px solid var(--accent-color-primary);
    }

    figcaption {
        font-size: var(--body-sm);
        font-style: italic;
    }

    @media #{$mq-md} {
        margin-block-end: var(--spacing-sm);

        &.fc5-l-align-end {
            float: inline-end;
            margin-inline-end: calc(var(--layout-sm) * -1);
            margin-inline-start: var(--spacing-md);
        }

        &.fc5-l-align-start {
            float: inline-start;
            margin-inline-end: var(--spacing-md);
            margin-inline-start: calc(var(--layout-sm) * -1);
        }

        &.fc5-l-align-center {
            margin-block-end: var(--spacing-xl);
            margin-inline-end: calc(var(--spacing-md) * -1);
            margin-inline-start: calc(var(--spacing-md) * -1);
            max-width: calc(100% + var(--spacing-md) + var(--spacing-md));

            &.fc5-u-fit-width {
                margin-inline-end: auto;
                margin-inline-start: auto;
                max-width: 100%;
            }
        }
    }

    @media #{$mq-lg} {
        &.fc5-l-align-end {
            margin-inline-end: calc(var(--layout-md) * -1);
        }

        &.fc5-l-align-start {
            margin-inline-start: calc(var(--layout-md) * -1);
        }

        &.fc5-l-align-center {
            margin-inline-end: calc(var(--layout-md) * -1);
            margin-inline-start: calc(var(--layout-md) * -1);
            max-width: calc(100% + var(--layout-md) + var(--layout-md));

            &.fc5-u-fit-width {
                margin-inline-end: auto;
                margin-inline-start: auto;
                max-width: 100%;
            }
        }
    }
}
