@use '../includes/lib' as *;

.fc5-c-figure {
    display: block;
    margin: 0 auto var(--spacing-lg);
    text-align: center;

    figcaption {
        font-size: var(--body-sm);
        font-style: italic;
    }

    @media #{$mq-md} {
        margin-bottom: var(--spacing-sm);

        &.fc5-l-align-end {
            float: inline-end;
            margin-inline-end: calc(var(--layout-sm) * -1);
            margin-inline-start: var(--spacing-md);
        }

        &.fc5-l-align-start {
            float: inline-start;
            margin-inline-end: var(--spacing-md);
            margin-inline-start: calc(var(--layout-sm) * -1);
        }

        &.fc5-l-align-center {
            margin-bottom: var(--spacing-xl);
        }
    }

    @media #{$mq-lg} {
        &.fc5-l-align-end {
            margin-inline-end: calc(var(--layout-md) * -1);
        }

        &.fc5-l-align-start {
            margin-inline-start: calc(var(--layout-md) * -1);
        }
    }
}
