@use '../includes/lib' as *;

.fc5-c-footer {
    border-top: 2px solid var(--accent-color-primary);
    box-shadow: 0 -2px 0 var(--accent-color-secondary);
    padding: var(--spacing-md) 0;
}

.fc5-c-footer-menu {
    display: flex;
    font-size: var(--body-sm);
    gap: var(--spacing-lg);
    margin: 0 0 0.25em;

    :link,
    :visited {
        color: var(--text-color-accent);
        display: inline-block;
        text-decoration: none;
        transform: rotate(0deg) scale(1);
        transition: color 100ms ease, transform 100ms ease;

        &:hover,
        &:focus,
        &:active {
            color: var(--color-link-hover);
            transform: rotate(-10deg) scale(1.1);
        }
    }
}

.fc5-c-footer-info {
    color: var(--text-color-secondary);
    font-size: var(--body-xs);

    p {
        margin: 0;
    }

    .oakland {
        color: var(--color-green-darker);
        font-weight: bold;
        padding-block-start: 10px;
        padding-inline-end: 50px;
        position: relative;
        text-align: end;

    svg {
            bottom: 0;
            height: auto;
            margin-inline-start: var(--spacing-sm);
            position: absolute;
            right: 0;
            transition: width 10s ease-in-out 10s;
            width: 40px;
        }

        &:hover svg {
            width: 500px;
        }

        @media (prefers-color-scheme: dark) {
            color: var(--color-green);
        }
    }
}

@media #{$mq-md} {
    .fc5-c-footer-container {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .fc5-c-footer-menu {
        grid-column: 1;
        justify-self: start;
    }

    .fc5-c-footer-info {
        grid-column: 2;
        justify-self: end;
        text-align: end;
    }
}
