@use "sass:math";
@use "sass:meta";
@use "../tokens";
@use "../functions";

// * -------------------------------------------------------------------------- */
// Font families
@mixin font-base {
    font-family: var(--base-font-family);
}

@mixin font-title {
    font-family: var(--title-font-family);
}

@mixin font-accent {
    font-family: var(--accent-font-family);
    font-weight: normal;
}
