{% extends "base.html" %}

{% block page_title %}Work : Focal Curve{% endblock %}
{% block page_desc %}{% endblock %}

{% block page_css %}{% endblock %}

{% block content %}

<div class="fc5-l-content fc5-t-content-md">
  <h1 class="title">Here’s where I’ll show you some stuff I made</h1>

  <p>Some will have full working code demos, others will be case studies with
    screenshots. Probably also throw in some illustrations just for kicks.</p>
{#
  <ul>
    <li><a href="/work/css-grid/">CSS Grid demo page</a></li>
    <li><a href="/work/mozilla-history/">Mozilla history slide show</a></li>
    <li><a href="/work/santa-locator/">Santa Locator</a></li>
    <li><a href="/work/wnp-112/">WNP 112</a></li>
    <li><a href="/work/wnp-116/">WNP 116</a></li>
    <li><a href="/work/wnp-117/">WNP 117</a></li>
    <li><a href="/work/wnp-119-eu/">WNP 119, EU</a></li>
    <li><a href="/work/wnp-119-na/">WNP 119, NA</a></li>
  </ul>
#}
</div>

{% endblock %}
