{% extends "base.html" %}

{% block page_title %}Work : Focal Curve{% endblock %}
{% block page_desc %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/assets/css/gallery.scss">
{% endblock %}

{% block content %}

<div class="fc5-l-content fc5-t-content-lg">
  <h1 class="title">Some stuff I’ve made</h1>
  <p>A curated collection of past projects I’ve worked on, either code, design, or both.</p>

  <section class="fc5-c-gallery-container">
    <div class="fc5-c-gallery-tile">
      <a href="/work/css-grid/" class="fc5-c-gallery-tile-link">
        <picture class="fc5-c-gallery-tile-image">
          <source media="(max-width: 799px)" srcset="/assets/img/work/css-grid/thumbnail-800.png" width="800" height="600">
          <source media="(min-width: 800px)" srcset="/assets/img/work/css-grid/thumbnail-1200.png" width="1200" height="750">
          <img loading="lazy" src="/assets/img/work/css-grid/thumbnail-800.png" width="800" height="600" alt="">
        </picture>

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">CSS Grid Demo</h3>
          <p class="fc5-c-gallery-tile-tag">2017</p>
          <p class="fc5-c-gallery-tile-desc">A page showing off CSS grid layout.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/santa-locator/" class="fc5-c-gallery-tile-link">
        <picture class="fc5-c-gallery-tile-image">
          <source media="(max-width: 799px)" srcset="/assets/img/work/santa-locator/thumbnail-800.jpg" width="800" height="600">
          <source media="(min-width: 800px)" srcset="/assets/img/work/santa-locator/thumbnail-1200.jpg" width="1200" height="750">
          <img loading="lazy" src="/assets/img/work/santa-locator/thumbnail-800.jpg" width="800" height="600" alt="">
        </picture>

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">Santa Locator</h3>
          <p class="fc5-c-gallery-tile-tag">2022</p>
          <p class="fc5-c-gallery-tile-desc">A cute Santa Clause location service that fails every time.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/wnp-116/" class="fc5-c-gallery-tile-link">
        <picture class="fc5-c-gallery-tile-image">
          <source media="(max-width: 799px)" srcset="/assets/img/work/wnp-116/thumbnail-800.jpg" width="800" height="600">
          <source media="(min-width: 800px)" srcset="/assets/img/work/wnp-116/thumbnail-1200.jpg" width="1200" height="750">
          <img loading="lazy" src="/assets/img/work/wnp-116/thumbnail-800.jpg" width="800" height="600" alt="">
        </picture>

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">What’s New Page, Firefox 116</h3>
          <p class="fc5-c-gallery-tile-tag">2023</p>
          <p class="fc5-c-gallery-tile-desc">A landing page showcasing reader mode in Firefox.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/rise25/" class="fc5-c-gallery-tile-link">
        <picture class="fc5-c-gallery-tile-image">
          <source media="(max-width: 799px)" srcset="/assets/img/work/rise25/thumbnail-800.jpg" width="800" height="600">
          <source media="(min-width: 800px)" srcset="/assets/img/work/rise25/thumbnail-1200.jpg" width="1200" height="750">
          <img loading="lazy" src="/assets/img/work/rise25/thumbnail-800.jpg" width="800" height="600" alt="">
        </picture>

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">Rise25 Website</h3>
          <p class="fc5-c-gallery-tile-tag">2024</p>
          <p class="fc5-c-gallery-tile-desc">A website announcing the 2024 honorees for Mozilla’s Rise25 awards.</p>
        </div>
      </a>
    </div>
  </section>
{#
  <ul>
    <li><a href="/work/css-grid/">CSS Grid demo page</a></li>
    <li><a href="/work/mozilla-history/">Mozilla history slide show</a></li>
    <li><a href="/work/santa-locator/">Santa Locator</a></li>
    <li><a href="/work/wnp-112/">WNP 112</a></li>
    <li><a href="/work/wnp-116/">WNP 116</a></li>
    <li><a href="/work/wnp-117/">WNP 117</a></li>
    <li><a href="/work/wnp-119-eu/">WNP 119, EU</a></li>
    <li><a href="/work/wnp-119-na/">WNP 119, NA</a></li>
  </ul>
#}
</div>

{% endblock %}
