{% extends "base.html" %}

{% block page_title %}Work : Focal Curve{% endblock %}
{% block page_desc %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/assets/css/gallery.scss">
{% endblock %}

{% block content %}

<div class="fc5-l-content fc5-t-content-lg">
  <h1 class="title">Some stuff I’ve made</h1>
  <p>A curated collection of past projects and ancient artifacts.</p>

  <section class="fc5-c-gallery-container">
    <div class="fc5-c-gallery-tile">
      <a href="/work/rise25/" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/work/rise25/thumbnail-800.jpg" srcset="/assets/img/work/rise25/thumbnail-1200.jpg 1.5x" alt="" width="800" height="600" loading="lazy">
        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">Rise25 Website</h3>
          <p class="fc5-c-gallery-tile-tag">2024</p>
          <p class="fc5-c-gallery-tile-desc">A website announcing the 2024 honorees for Mozilla’s Rise25 awards.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/wnp-117/" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/work/wnp-117/thumbnail-800.jpg" srcset="/assets/img/work/wnp-117/thumbnail-1200.jpg 1.5x" alt="" width="800" height="600" loading="lazy">
        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">What’s New Page, Firefox 117</h3>
          <p class="fc5-c-gallery-tile-tag">2023</p>
          <p class="fc5-c-gallery-tile-desc">A page promoting Mozilla VPN.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/wnp-116/" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/work/wnp-116/thumbnail-800.jpg" srcset="/assets/img/work/wnp-116/thumbnail-1200.jpg 1.5x" alt="" width="800" height="600" loading="lazy">
        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">What’s New Page, Firefox 116</h3>
          <p class="fc5-c-gallery-tile-tag">2023</p>
          <p class="fc5-c-gallery-tile-desc">A landing page showcasing reader mode in Firefox.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/wnp-112/" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/work/wnp-112/thumbnail-800.jpg" srcset="/assets/img/work/wnp-112/thumbnail-1200.jpg 1.5x" alt="" width="800" height="600" loading="lazy">
        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">What’s New Page, Firefox 112</h3>
          <p class="fc5-c-gallery-tile-tag">2023</p>
          <p class="fc5-c-gallery-tile-desc">A page promoting Mozilla VPN.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/santa-locator/" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/work/santa-locator/thumbnail-800.jpg" srcset="/assets/img/work/santa-locator/thumbnail-1200.jpg 1.5x" alt="" width="800" height="600" loading="lazy">
        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">Santa Locator</h3>
          <p class="fc5-c-gallery-tile-tag">2022</p>
          <p class="fc5-c-gallery-tile-desc">A cute Santa Clause location service that fails every time.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/wnp-98/" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/work/wnp-98/thumbnail-800.jpg" srcset="/assets/img/work/wnp-98/thumbnail-1200.jpg 1.5x" alt="" width="800" height="600" loading="lazy">
        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">What’s New Page, Firefox 98</h3>
          <p class="fc5-c-gallery-tile-tag">2022</p>
          <p class="fc5-c-gallery-tile-desc">A promotional tie-in with Disney/Pixar’s <cite>Turning Red</cite>.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/css-grid/" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/work/css-grid/thumbnail-800.png" srcset="/assets/img/work/css-grid/thumbnail-1200.png 1.5x" alt="" width="800" height="600" loading="lazy">
        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">CSS Grid Demo</h3>
          <p class="fc5-c-gallery-tile-tag">2017</p>
          <p class="fc5-c-gallery-tile-desc">A page showing off CSS grid layout.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/mozilla-history/" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/work/mozilla-history/thumbnail-800.jpg" srcset="/assets/img/work/mozilla-history/thumbnail-1200.jpg 1.5x" alt="" width="800" height="600" loading="lazy">
        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">Mozilla History</h3>
          <p class="fc5-c-gallery-tile-tag">2014</p>
          <p class="fc5-c-gallery-tile-desc">An animated slide show for Mozilla’s 15th anniversary.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="/work/power-outfitters/" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/work/power-outfitters/thumbnail-800.jpg" srcset="/assets/img/work/power-outfitters/thumbnail-1200.jpg 1.5x" alt="" width="800" height="600" loading="lazy">
        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">Power Outfitters</h3>
          <p class="fc5-c-gallery-tile-tag">2012</p>
          <p class="fc5-c-gallery-tile-desc">The example project from the final chapter of my book.</p>
        </div>
      </a>
    </div>
  </section>
</div>

{% endblock %}
