{% extends "base.html" %}

{% block page_title %}Thanks! : Contact : Focal Curve{% endblock %}
{% block page_desc %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/assets/css/contact.scss">
{% endblock %}

{% block content %}
<div class="fc5-l-content fc5-t-content-md">
  <h1>Thanks for the email!</h1>
  <p>As a reward, gaze into this adorable void.</p>

  <img class="fc5-c-figure fc5-l-align-center fc5-t-border" src="/assets/img/kirby-800.jpg" srcset="/assets/img/kirby-1200.jpg 1.5x" alt="A black cat sits on a beige carpet looking adoringly into the camera. Don't be fooled; he just wants treats." width="800" height="800" loading="lazy">

</div>
{% endblock %}
