:root {
    // fonts
    /* stylelint-disable value-keyword-case  */
    --base-font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    --title-font-family: "Libre Bodoni", Georgia, "Times New Roman", serif;
    --accent-font-family: Rancho, Georgia, "Times New Roman", serif;
    /* stylelint-enable */

    // colors
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #88d1f1;
    --color-blue-light: #c3e8f8;
    --color-blue-dark: #497a8f;
    --color-blue-darker: #28505f;
    --color-orange: #f8b83e;
    --color-orange-dark: #c98525;
    --color-orange-darker: #653509;
    --color-orange-light: #fadb8c;
    --color-red: #fb8399;
    --color-red-dark:#be5064;
    --color-red-darker: #7d2838;
    --color-red-light: #ffb2c0;
    --color-cream: #fffdf3;
    --color-cream-dark: #f9efdf;
    --color-cream-darker: #e4d7c5;
    --color-ink: #2d2a3b;
    --color-ink-light: #423e53;
    --color-ink-lighter: #615d73;

    // link colors
    --color-link: #316dba;
    --color-link-hover: #325b90;
    --color-link-visited: #9c58b0;
    --color-link-visited-hover: #824b93;

    // units
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 48px;
    --layout-2xs: 16px;
    --layout-xs: 24px;
    --layout-sm: 32px;
    --layout-md: 48px;
    --layout-lg: 64px;
    --layout-xl: 96px;
    --layout-2xl: 192px;

    // content
    --content-xs: 304px;
    --content-sm: 432px;
    --content-md: 688px;
    --content-lg: 928px;
    --content-xl: 1152px;
    --content-max: 1440px;
    --screen-xs: 320px; // content-xs + 16px
    --screen-sm: 480px; // content-sm + 48px
    --screen-md: 768px; // contend-md + 80px
    --screen-lg: 1024px; // content-lg + 128px
    --screen-xl: 1312px; // contend-xl + 128px

    // font sizes
    --title-2xl-size: 3.8rem;
    --title-xl-size: 3.1rem;
    --title-lg-size: 2.4rem;
    --title-md-size: 2rem;
    --title-sm-size: 1.5rem;
    --title-xs-size: 1.25rem;
    --title-2xs-size: 1rem;
    --title-3xs-size: 0.8rem;
    --body-xl-size: 1.5rem;
    --body-lg-size: 1.25rem;
    --body-md-size: 1rem;
    --body-sm-size: 0.8rem;
    --body-xs-size: 0.65rem;
    --base-font-size: 18px;
    --title-line-height: 1.125;
    --body-line-height: 1.4;

    @media (prefers-color-scheme: dark) {
        --color-link: #88d1f1;
        --color-link-hover: #c3e8f8;
        --color-link-visited: #dbaaea;
        --color-link-visited-hover: #d590ea;
    }
}

// media queries
$mq-xs: "(min-width: 320px)";
$mq-sm: "(min-width: 480px)";
$mq-md: "(min-width: 768px)";
$mq-lg: "(min-width: 1024px)";
$mq-xl: "(min-width: 1312px)";
$mq-short: "(max-height: 599px)";
$mq-tall: "(min-height: 600px)";
$mq-high-res: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi)";
