{% extends "article-base.html" %}

{% block page_title %}About me : Focal Curve{% endblock %}
{% block page_desc %}{% endblock %}

{% block article_header %}
  <h1 class="fc5-c-article-title">Ahoy, world</h1>
{% endblock %}

{% block article_body %}
  <p>My name is Craig and I’ve been making websites since 1999. Or even before
    then if you count a truly cringe-worthy GeoCities site I made in 1997. But
    I’ve been doing it for a living since 1999. I got my start in graphic design
    but entered the job market just as the dot-com boom was booming and everybody
    wanted a website. So I said, sure, I can do that. And I’ve been making websites
    ever since.</p>

  <p>Though I always considered myself a designer first and foremost, I found that I
    really liked the hands-on aspects of writing code. Yeah, I admit, I’m one of
    those “web designers should know how to code” people and I’ll stand by it.
    I should also add that I think coders should know some design fundamentals,
    too. While I gradually moved into a pure developer role, I always kept in
    touch with my design roots. It has helped me collaborate well with visual and
    UX designers. And every once in a while I still get to flex my design muscles.</p>

  <img class="fc5-c-figure fc5-l-align-end" src="/assets/img/about/dwws-300.jpg" srcset="/assets/img/about/dwws-600.jpg 2x" alt="My 2003 copy of Designing with Web Standards, by Jeffrey Zeldman" width="200" height="248" loading="lazy">

  <p>In the early days, like everyone at that time, I built sites with tables
    and spacer gifs and <code>font</code> tags. It was just the way things were.
    Then in 2003, I read
    <a href="https://books.slashdot.org/story/03/09/30/1633204/designing-with-web-standards">a review of <cite>Designing with Web Standards</cite> on Slashdot</a>,
    and subsequently ordered and devoured that book. It completely changed my
    approach to building for the web, and ignited a new passion for web standards,
    semantic HTML, and accessibility. I had never heard the term “presentational
    markup” before but suddenly I had a strong opinion on the matter (I’m not
    a fan). Since then I have tried to make websites anyone can use, regardless of
    their browser, device, connection speed, language, geography, or physical
    abilities.</p>

  <h2>Books</h2>

  <img class="fc5-c-figure fc5-l-align-start" src="/assets/img/about/beginninghtml-300.jpg" srcset="/assets/img/about/beginninghtml-600.jpg 2x" alt="A first printing copy of Beginning HTML with CSS and XHTML" width="200" height="253" loading="lazy">

  <p>In 2007 I had the opportunity to write my own book on web standards, or at
    least part of one. An editor asked me to contribute four chapters to
    <cite>Beginning HTML with CSS and XHTML: Modern Guide and Reference</cite>,
    published by Apress, though in the end I wrote six chapters in all. I’m
    actually not sure how well or how poorly that book sold. Considering I never
    earned any royalties, I’m betting on poorly.</p>

  <p>And yet, Apress still needed a beginning-level book in their web development
    curriculum. So a few years later when it was time for a second edition, they
    asked if I was interested in returning to update it. I hadn’t been satisfied
    with how that first book turned out and part of me wanted to redeem myself,
    so I said yes. In the short time since the previous book had been published,
    XHTML had already fallen out of fashion and HTML5 had burst onto the scene.
    The first edition was mostly irrelevant, and it was immediately clear that
    rather than a mere second edition update, a whole new book was called for.</p>

  <img class="fc5-c-figure fc5-l-align-end" src="/assets/img/about/foundationhtml-300.jpg" srcset="/assets/img/about/foundationhtml-600.jpg 2x" alt="A first printing copy of Foundation HTML5 with CSS3" width="200" height="248" loading="lazy">

  <p>That new book became <cite>Foundation HTML5 with CSS3</cite>, published in
    2012 by Friends of ED (an imprint of Apress). Writing it was… an experience.
    As rambly and long-winded as I appear to be, technical writing is not actually
    my comfort zone. I have to be in the right headspace to do it, and I constantly
    edit and rewrite myself before I decide it’s acceptable. I was also writing
    about a pretty new standard, some of which was still being defined as I was
    writing about it. It took extensive research and testing and lots of obsessive
    copy-editing. And I was very, very slow.</p>

  <p>When I was already months behind schedule, with the editor breathing down my
    neck, they suggested bringing in another author to help share the load, in
    exactly the same way I was recruited to contribute to the previous book. My
    esteemed friend and colleague <a href="https://sixtwothree.org/">Jason Garber</a>
    graciously agreed to fill in a few chapters to help get it over the finish line
    and the book was finally published nearly a full year after the original target
    date. I swore I would never write another book, ever again. So far I’ve kept
    that promise, though I have been tempted a few times… Never earned any
    royalties on that one, either.</p>

  <h2>What’s up with the fish?</h2>

  <img class="fc5-c-figure fc5-l-align-start" src="/assets/img/about/blinky.jpg" alt="An orange cartoon fish with three bulbous eyes and a pronounced overbite" width="200" height="200" loading="lazy">

  <p>I‘ve been using this image of <a href="https://en.wikipedia.org/wiki/List_of_recurring_The_Simpsons_characters#Blinky">Blinky</a>,
    the three-eyed mutant fish from <cite>The Simpsons</cite>, as my avatar online
    seemingly forever. I created a Flickr account in 2004, which was my first real
    foray into what would become social media. While I was going through the
    initial setup and digging around in account settings, I was presented with
    the opportunity to change my profile avatar from the default gray block to
    something a little more personal. I couldn’t think of anything original offhand,
    but I happened to have a picture of Blinky on my hard drive, I don’t even
    remember why. So I uploaded it with every intention of eventually switching
    to something else.</p>

  <p>That Flickr account remained unused for months, mostly because I didn’t
    have a decent digital camera, but also because I didn’t have any contacts to
    see any pictures I shared anyway. Then I went to my first
    <abbr title="South by Southwest">SXSW</abbr> Interactive in 2005, having bought
    a compact digital camera for the trip, and I took a bunch of pictures and met
    a bunch of people, so I finally had a reason to use Flickr. But I had never
    gotten around to changing my avatar. Blinky stuck.</p>

  <p>Over the years, as I made more accounts on other social networks, Blinky just
    became my default avatar. So the story is that there is no story. It was a
    completely arbitrary decision that evolved into a personal brand. I’m just glad
    I didn’t use something even weirder.</p>



{% endblock %}
