{% extends "article-base.html" %}

{% block page_title %}About me : Focal Curve{% endblock %}
{% block page_desc %}{% endblock %}

{% block article_header %}
  <h1 class="fc5-c-article-title">Ahoy, world</h1>
{% endblock %}

{% block article_body %}
  <p>My name is Craig and I’ve been making websites since 1999. Or even before
    then if you count a truly cringe-worthy GeoCities site I made in 1997. But
    I’ve been doing it for a living since 1999. I got my start in graphic design
    but entered the job market just as the dot-com boom was booming and everybody
    wanted a website. So I said, sure, I can do that. And I’ve been making websites
    ever since.</p>

  <p>Though I always considered myself a designer first and foremost, I found that I
    really liked the hands-on aspects of writing code. Yeah, I admit, I’m one of
    those “web designers should know how to code” people and I’ll stand by it.
    I should also add that I think front-end coders should know some design
    fundamentals, too. While I gradually moved into a pure developer role, I always
    kept in touch with my design roots. It has helped me collaborate well with
    visual and UX designers.</p>

  <p><img class="fc5-c-figure fc5-l-align-end" src="/assets/img/about/dwws-300.jpg" srcset="/assets/img/about/dwws-600.jpg 2x" alt="My 2003 copy of Designing with Web Standards, by Jeffrey Zeldman" width="300" height="372" loading="lazy">
    In the early days, like everyone at that time, I built sites with tables
    and spacer gifs and <code>font</code> tags. It was just the way things were.
    Then in 2003, I read
    <a href="https://books.slashdot.org/story/03/09/30/1633204/designing-with-web-standards">a review of <cite>Designing with Web Standards</cite> on Slashdot</a>,
    and subsequently ordered and devoured that book. It completely changed my
    approach to building for the web, and ignited a new passion for web standards,
    semantic HTML, and accessibility. I had never heard the term “presentational class”
    before but suddenly I had a strong opinion on the matter (they’re bad).</p>

  <p></p>

{% endblock %}
