{% extends "base.html" %}

{% block page_title %}Color palette{% endblock %}
{% block page_desc %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/assets/css/colors.scss">
{% endblock %}

{% block content %}
<div class="fc5-l-content fc5-t-content-lg">
  <ul class="swatches">
    <li class="swatch swatch-blue-darker">Blue Darker</li>
    <li class="swatch swatch-blue-dark">Blue Dark</li>
    <li class="swatch swatch-blue">Blue</li>
    <li class="swatch swatch-blue-light">Blue Light</li>

    <li class="swatch swatch-orange-darker">Orange Darker</li>
    <li class="swatch swatch-orange-dark">Orange Dark</li>
    <li class="swatch swatch-orange">Orange</li>
    <li class="swatch swatch-orange-light">Orange Light</li>

    <li class="swatch swatch-red-darker">Red Darker</li>
    <li class="swatch swatch-red-dark">Red Dark</li>
    <li class="swatch swatch-red">Red</li>
    <li class="swatch swatch-red-light">Red Light</li>

    <li class="swatch swatch-cream-darker">Cream Darker</li>
    <li class="swatch swatch-cream-dark">Cream Dark</li>
    <li class="swatch swatch-cream">Cream</li>
    <li class="swatch swatch-white">White</li>

    <li class="swatch swatch-black">Black</li>
    <li class="swatch swatch-ink">Ink</li>
    <li class="swatch swatch-ink-light">Ink Light</li>
    <li class="swatch swatch-ink-lighter">Ink Lighter</li>
  </ul>
</div>
{% endblock %}
