{% extends "base.html" %}

{% block page_title %}Gallery grid{% endblock %}
{% block page_desc %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/assets/css/gallery.scss">
{% endblock %}

{% block content %}
<div class="fc5-l-content fc5-t-content-lg">
  <section class="fc5-c-gallery-container">
    <div class="fc5-c-gallery-tile">
      <a href="#" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/schridde1.jpg" alt="placeholder image" width="800" height="600">

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">1 Gallery tile title</h3>
          <p class="fc5-c-gallery-tile-tag">Optional tag</p>
          <p class="fc5-c-gallery-tile-desc">This description is optional. Keep it short.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="#" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/schridde2.jpg" alt="placeholder image" width="800" height="600">

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">2 Short title</h3>
          <p class="fc5-c-gallery-tile-tag">Illustration</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="#" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/schridde3.jpg" alt="placeholder image" width="800" height="600">

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">3 Slightly longer title</h3>
          <p class="fc5-c-gallery-tile-tag">Print</p>
          <p class="fc5-c-gallery-tile-desc">Short description.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="#" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/schridde4.jpg" alt="placeholder image" width="800" height="600">

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">4 Another gallery tile</h3>
          <p class="fc5-c-gallery-tile-desc">This description is a bit longer and should wrap to a second line.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="#" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/schridde5.jpg" alt="placeholder image" width="800" height="600">

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">5 Yet another tile</h3>
          <p class="fc5-c-gallery-tile-tag">Web</p>
          <p class="fc5-c-gallery-tile-desc">This description is even longer and should wrap to at least a third line, maybe a fourth if I can ramble on long enough. Blah blah, yadda yadda yadda and so on.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="#" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/schridde6.jpg" alt="placeholder image" width="800" height="600">

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">6 Yet another tile</h3>
          <p class="fc5-c-gallery-tile-desc">Optional description.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="#" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/schridde7.jpg" alt="placeholder image" width="800" height="600">

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">7 Another gallery tile</h3>
          <p class="fc5-c-gallery-tile-desc">This description is a bit longer and should wrap to a second line.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="#" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/schridde8.jpg" alt="placeholder image" width="800" height="600">

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">8 Yet another tile</h3>
          <p class="fc5-c-gallery-tile-desc">This description is even longer and should wrap to at least a third line, maybe a fourth if I can ramble on long enough. Blah blah, yadda yadda yadda and so on.</p>
        </div>
      </a>
    </div>

    <div class="fc5-c-gallery-tile">
      <a href="#" class="fc5-c-gallery-tile-link">
        <img class="fc5-c-gallery-tile-image" src="/assets/img/schridde1.jpg" alt="placeholder image" width="800" height="600">

        <div class="fc5-c-gallery-tile-content">
          <h3 class="fc5-c-gallery-tile-title">9 Yet another tile</h3>
          <p class="fc5-c-gallery-tile-desc">Optional description.</p>
        </div>
      </a>
    </div>

  </section>
</div>
{% endblock %}
