{% extends "base.html" %}

{% block page_title %}Focal Curve : Craig Cook’s personal website{% endblock %}
{% block page_desc %}{% endblock %}

{% block page_css %}{% endblock %}

{% block content %}

<div class="fc5-l-content fc5-t-content-md">
  <h1 class="title">Hello World; New website in progress</h1>
  <p><strong>I’m making a new website.</strong> This is the start. Mostly working
    out <a href="/typescale.html">fonts</a> and <a href="/color.html">colors</a>
    right now, but starting to get into content and layout next.</p>

  <p>Meanwhile… <a href="https://techhub.social/@craigcook" rel="me">@craigcook@techhub.social</a></p>

  <p><strong>Update:</strong> Progress slowed a bit while I was moving, but I’m
    back at it. I’ve built a funky <a href="/gallery.html">Gallery component</a>
    that I’ll use for the portfolio (the placeholder images are paintings by Charles
    Schridde from a Motorola ad campaign in the 60s). I still need to figure out a
    general page layout and navigation, but I probably need to decide what the
    content will be before I try to organize it.</p>
</div>

{% endblock %}
