{% extends "base.html" %}

{% block page_title %}Focal Curve : Craig Cook’s personal website{% endblock %}
{% block page_desc %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/assets/css/home.scss">
{% endblock %}

{% block content %}

<div class="fc5-l-content fc5-t-content-md">
  {% include "includes/site-title.html" %}

  <p>Hello, world. I’m Craig and I make websites. Like this one. It’s very much
    a work in progress right now but it’s coming along.</p>

</div>

{% endblock %}
