{% set page_title %}{% block page_title %}Focal Curve{% endblock %}{% endset %}
{% set page_desc %}{{ striptags|e }}{% block page_desc %}{% endblock %}{{ endfilter }}{% endset %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_desc }}">

  {% block social_meta %}{% endblock social_meta %}

  {% block site_css %}
  <link rel="stylesheet" href="/assets/css/global.scss">
  {% endblock %}
  {% block page_css %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
  {% block header %}{% include "partials/header.html" %}{% endblock %}

  <main id="site-body" class="{% block main_class %}{% endblock %}">
  {% block content %}{% endblock %}
  </main>

  {% block footer %}{% include "partials/footer.html" %}{% endblock %}
  {% block page_js %}{% endblock %}
</body>
