{% extends "base.html" %}

{% block page_title %}Color palette{% endblock %}
{% block page_desc %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/assets/css/colors.scss">
{% endblock %}

{% block content %}
<div class="fc5-l-content fc5-t-content-lg">
  <ul class="swatches">
    <li class="swatch swatch-blue-darker">Blue Darker <span class="val">#28505f</span></li>
    <li class="swatch swatch-blue-dark">Blue Dark <span class="val">#497a8f</span></li>
    <li class="swatch swatch-blue">Blue <span class="val">#88d1f1</span></li>
    <li class="swatch swatch-blue-light">Blue Light <span class="val">#c3e8f8</span></li>

    <li class="swatch swatch-green-darker">Green Darker <span class="val">#396e68</span></li>
    <li class="swatch swatch-green-dark">Green Dark <span class="val">#5aa79e</span></li>
    <li class="swatch swatch-green">Green <span class="val">#8be3d9</span></li>
    <li class="swatch swatch-green-light">Green Light <span class="val">#b8f6ef</span></li>

    <li class="swatch swatch-orange-darker">Orange Darker <span class="val">#653509</span></li>
    <li class="swatch swatch-orange-dark">Orange Dark <span class="val">#c98525</span></li>
    <li class="swatch swatch-orange">Orange <span class="val">#f8b83e</span></li>
    <li class="swatch swatch-orange-light">Orange Light <span class="val">#fadb8c</span></li>

    <li class="swatch swatch-red-darker">Red Darker <span class="val">#7d2838</span></li>
    <li class="swatch swatch-red-dark">Red Dark <span class="val">#be5064</span></li>
    <li class="swatch swatch-red">Red <span class="val">#fb8399</span></li>
    <li class="swatch swatch-red-light">Red Light <span class="val">#ffb2c0</span></li>

    <li class="swatch swatch-cream-darker">Cream Darker <span class="val">#e4d7c5</span></li>
    <li class="swatch swatch-cream-dark">Cream Dark <span class="val">#f9efdf</span></li>
    <li class="swatch swatch-cream">Cream <span class="val">#fffdf3</span></li>
    <li class="swatch swatch-white">White <span class="val">#fff</span></li>

    <li class="swatch swatch-black">Black <span class="val">#000</span></li>
    <li class="swatch swatch-ink">Ink <span class="val">#2d2a3b</span></li>
    <li class="swatch swatch-ink-light">Ink Light <span class="val">#423e53</span></li>
    <li class="swatch swatch-ink-lighter">Ink Lighter <span class="val">#615d73</span></li>

    <li class="swatch swatch-link">Link <span class="val">#316dba</span></li>
    <li class="swatch swatch-link-hover">Link hover <span class="val">#325b90</span></li>
    <li class="swatch swatch-link-visited">Visited link <span class="val">#9c58b0</span></li>
    <li class="swatch swatch-link-visited-hover">Visited link hover <span class="val">#824b93</span></li>
  </ul>
</div>
{% endblock %}
