{% extends "article-base.html" %}

{% block page_title %}Rise25 : Work : Focal Curve{% endblock %}
{% block page_desc %}{% endblock %}

{% block article_header %}
    <h1 class="fc5-c-article-title">Rise25 Website</h1>
    <p class="fc5-c-article-info">July, 2024</p>
    <p class="fc5-c-article-info">Design: Jessica Chamberlain</p>
{% endblock %}

{% block article_body %}
  <p>In 2023, to celebrate the 25th anniversary of Mozilla’s founding, they held
    an awards show to honor 25 people that exemplified the Mozilla spirit of
    openness, innovation, and principled application of technology. Then they
    did it again in 2024 and I built the website for it.</p>

  <p>Well, first I built <a href="https://www.mozilla.org/rise25/nominate/">a single page on mozilla.org</a>
    in February of 2024, calling for nominations.</p>

  <picture class="fc5-c-figure fc5-l-align-center">
    <source media="(max-width: 799px)" srcset="/assets/img/work/rise25/nominate-800.jpg" width="800" height="673">
    <source media="(min-width: 800px)" srcset="/assets/img/work/rise25/nominate-1200.jpg" width="1200" height="1010">
    <img loading="lazy" src="/assets/img/work/rise25/nominate-800.jpg" width="800" height="673" alt="Screenshot of the Rise25 nomination page.">
  </picture>

  <p>A few months later it was time to announce the honorees (we avoided the term
    “winners” because it isn’t a competition). This called for a standalone website,
    <a href="https://rise25.mozilla.org">rise25.mozilla.org</a>. It didn’t need
    to be too complicated, it was really just a few static pages. I used the
    <a href="https://github.com/webdiscus/html-bundler-webpack-plugin">HTML Bundler Webpack Plugin</a>
    we had used on a few previous projects as a simple, bare-bones static site
    generator (indeed I’m using it for this website you’re reading now).</p>

  <p>As simple as the site is, structurally, I think it looks nice and has some
    cool CSS effects. Lots of fun with gradients and <code>background-clip</code>.
    During one design review someone said “it looks expensive” which I suppose is
    pretty good feedback.</p>

  <picture class="fc5-c-figure fc5-l-align-center">
    <source media="(max-width: 799px)" srcset="/assets/img/work/rise25/category-800.jpg" width="800" height="513">
    <source media="(min-width: 800px)" srcset="/assets/img/work/rise25/category-1200.jpg" width="1200" height="770">
    <img loading="lazy" src="/assets/img/work/rise25/category-800.jpg" width="800" height="513" alt="Screenshot of the Rise25 nomination page.">
  </picture>

  <p>The site is still online as I write this now in early 2025 but I expect it’ll
    be decommissioned soon, so I may need to make my own archival backup for
    posterity. But for now you can visit the live site and of course you can
    <a href="https://github.com/mozilla/rise25/">see the code on GitHub</a>.</p>

  <p>
    <a href="https://rise25.mozilla.org/" class="fc5-c-button">
      Go to the site
      <span class="fc5-c-button-icon-end">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
          <path d="M14.8 7.7 9.3 2.2 8.2 3.3l4.2 4.2H1V9h11.4l-4.2 4.2 1.1 1.1 5.5-5.5c.1-.2.2-.4.2-.6s-.1-.3-.2-.5z" />
        </svg>
      </span>
    </a>
  </p>


{% endblock %}
