/*!***************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./media/css/firefox/whatsnew/whatsnew-119-eu-trio.scss ***!
  \***************************************************************************************************************************************************************************/
.c-page-header {
  background: transparent;
}
.c-page-header .mzp-l-content {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 1024px) {
  .c-page-header .mzp-l-content {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .c-page-header .mzp-c-notification-bar {
    margin-top: 0;
  }
}

.c-page-header-inner {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
}

.c-page-header-logo-fx {
  direction: ltr;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  white-space: nowrap;
  background: url("../img/logo-word-hor.svg") no-repeat;
  -webkit-background-size: 120px, 40px;
  background-size: 120px, 40px;
  width: 120px;
  height: 40px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .c-page-header-inner {
    grid-column-gap: 24px;
    column-gap: 24px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
  }
  .c-page-header-logo-fx {
    margin: 0;
  }
}
.wnp-sign-off {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #000000;
  margin-top: 64px;
  text-align: center;
}
@supports (--css: variables) {
  .wnp-sign-off {
    font-size: var(--body-sm-size);
    line-height: var(--body-line-height);
  }
}
.wnp-sign-off strong {
  display: block;
}
@media (min-width: 768px) {
  .wnp-sign-off strong {
    display: inline;
  }
}

.c-utilities {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  max-width: 688px;
  padding-bottom: 96px;
  text-align: center;
}
@supports (--css: variables) {
  .c-utilities {
    font-size: var(--body-sm-size);
    line-height: var(--body-line-height);
  }
}

.mzp-c-notification-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: #ededf0;
  border-radius: 4px;
  border: 1px;
  box-shadow: 0 16px 24px 2px rgba(29, 17, 51, 0.04), 0 6px 32px 4px rgba(9, 32, 77, 0.12), 0 8px 12px -5px rgba(29, 17, 51, 0.12);
  color: #000000;
  font-weight: normal;
  margin: 24px 16px 0;
  padding: 16px 48px;
  position: relative;
  text-align: center;
}
.mzp-c-notification-bar::after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
@supports (--css: variables) {
  .mzp-c-notification-bar {
    font-size: var(--body-sm-size);
    line-height: var(--body-line-height);
  }
}
@media (min-width: 480px) {
  .mzp-c-notification-bar {
    margin: 24px auto 0;
    max-width: 688px;
  }
}
.mzp-c-notification-bar p {
  display: inline-block;
  margin: 0 auto;
}
.mzp-c-notification-bar a:link,
.mzp-c-notification-bar a:visited {
  color: inherit;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  margin: 0 8px;
}
.mzp-c-notification-bar a:link:hover, .mzp-c-notification-bar a:link:active, .mzp-c-notification-bar a:link:focus,
.mzp-c-notification-bar a:visited:hover,
.mzp-c-notification-bar a:visited:active,
.mzp-c-notification-bar a:visited:focus {
  color: inherit;
  text-decoration: none;
}
.mzp-c-notification-bar.mzp-is-sticky {
  left: 16px;
  margin: 16px 0;
  position: fixed;
  right: 16px;
  z-index: 2;
}
@media (min-width: 480px) {
  .mzp-c-notification-bar.mzp-is-sticky {
    margin: 16px auto;
  }
}
.mzp-c-notification-bar .mzp-c-notification-bar-button {
  direction: ltr;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  white-space: nowrap;
  background: url("assets/img/icons/close.svg") center center/20px 20px no-repeat;
  border: 0;
  height: 20px;
  margin: 8px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
.mzp-c-notification-bar .mzp-c-notification-bar-button {
  right: 0;
  left: auto;
}
[dir=rtl] .mzp-c-notification-bar .mzp-c-notification-bar-button {
  right: auto;
  left: 0;
}
.mzp-c-notification-bar .mzp-c-notification-bar-button:hover {
  cursor: pointer;
}
.mzp-c-notification-bar .mzp-c-notification-bar-button:focus {
  border: 1px solid;
}
@media (min-width: 480px) {
  .mzp-c-notification-bar .mzp-c-notification-bar-button {
    background-color: #b1b1bc;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 40px;
    float: right;
  }
  .mzp-c-notification-bar .mzp-c-notification-bar-button {
    float: right;
    border-radius: 0 4px 4px 0;
  }
  [dir=rtl] .mzp-c-notification-bar .mzp-c-notification-bar-button {
    float: left;
    border-radius: 4px 0 0 4px;
  }
  .mzp-c-notification-bar .mzp-c-notification-bar-button:hover, .mzp-c-notification-bar .mzp-c-notification-bar-button:focus {
    background-color: #9595a2;
    border: 0;
  }
}
.mzp-c-notification-bar.mzp-t-success {
  background-color: #88ffd1;
}
@media (min-width: 480px) {
  .mzp-c-notification-bar.mzp-t-success .mzp-c-notification-bar-button {
    background-color: #2ac3a2;
  }
  .mzp-c-notification-bar.mzp-t-success .mzp-c-notification-bar-button:hover, .mzp-c-notification-bar.mzp-t-success .mzp-c-notification-bar-button:focus {
    background-color: #008787;
  }
}
.mzp-c-notification-bar.mzp-t-error {
  background-color: #ff848b;
}
@media (min-width: 480px) {
  .mzp-c-notification-bar.mzp-t-error .mzp-c-notification-bar-button {
    background-color: #e22850;
  }
  .mzp-c-notification-bar.mzp-t-error .mzp-c-notification-bar-button:hover, .mzp-c-notification-bar.mzp-t-error .mzp-c-notification-bar-button:focus {
    background-color: #c50042;
  }
}
.mzp-c-notification-bar.mzp-t-warning {
  background-color: #ffea80;
}
@media (min-width: 480px) {
  .mzp-c-notification-bar.mzp-t-warning .mzp-c-notification-bar-button {
    background-color: #ffbd4f;
  }
  .mzp-c-notification-bar.mzp-t-warning .mzp-c-notification-bar-button:hover, .mzp-c-notification-bar.mzp-t-warning .mzp-c-notification-bar-button:focus {
    background-color: #ffa436;
  }
}
.mzp-c-notification-bar.mzp-t-click {
  background-color: #0060df;
  color: #ffffff;
  font-weight: 600;
}
.mzp-c-notification-bar.mzp-t-click .mzp-c-notification-bar-button {
  background-image: url("../img/icons/close-white.svg");
}
@media (min-width: 480px) {
  .mzp-c-notification-bar.mzp-t-click .mzp-c-notification-bar-button {
    background-color: #054096;
  }
  .mzp-c-notification-bar.mzp-t-click .mzp-c-notification-bar-button:hover, .mzp-c-notification-bar.mzp-t-click .mzp-c-notification-bar-button:focus {
    background-color: #073072;
  }
}

@media (min-width: 768px) {
  .mzp-l-columns {
    display: grid;
    grid-gap: 48px 64px;
    gap: 48px 64px;
  }
  .mzp-l-columns.mzp-t-columns-two, .mzp-l-columns.mzp-t-columns-four {
    grid-template-columns: repeat(2, 1fr);
  }
  @supports (--css: variables) {
    .mzp-l-columns {
      grid-gap: var(--v-grid-sm) var(--h-grid-md);
      gap: var(--v-grid-sm) var(--h-grid-md);
    }
  }
  ul.mzp-l-columns,
  ol.mzp-l-columns {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .mzp-l-columns {
    grid-gap: 48px 80px;
    gap: 48px 80px;
  }
  .mzp-l-columns.mzp-t-columns-three {
    grid-template-columns: repeat(3, 1fr);
  }
  .mzp-l-columns.mzp-t-columns-four {
    grid-template-columns: repeat(4, 1fr);
  }
  @supports (--css: variables) {
    .mzp-l-columns {
      grid-gap: var(--v-grid-lg) var(--h-grid-xl);
      gap: var(--v-grid-lg) var(--h-grid-xl);
    }
  }
}
.mzp-t-content-sm .mzp-l-columns,
.mzp-t-content-sm.mzp-l-columns {
  display: block;
}

.mzp-t-content-md .mzp-l-columns.mzp-t-columns-three,
.mzp-t-content-md.mzp-l-columns.mzp-t-columns-three {
  display: block;
}

.mzp-t-content-md .mzp-l-columns,
.mzp-t-content-md.mzp-l-columns {
  grid-column-gap: 64px;
  column-gap: 64px;
}
@supports (--css: variables) {
  .mzp-t-content-md .mzp-l-columns,
  .mzp-t-content-md.mzp-l-columns {
    grid-column-gap: var(--h-grid-md);
    column-gap: var(--h-grid-md);
  }
}

.mzp-t-content-md .mzp-l-columns.mzp-t-columns-four,
.mzp-t-content-md.mzp-l-columns.mzp-t-columns-four {
  grid-template-columns: repeat(2, 1fr);
}

.mzp-t-content-lg .mzp-l-columns.mzp-t-columns-three,
.mzp-t-content-lg.mzp-l-columns.mzp-t-columns-three,
.mzp-t-content-lg .mzp-l-columns.mzp-t-columns-four,
.mzp-t-content-lg.mzp-l-columns.mzp-t-columns-four {
  grid-column-gap: 64px;
  column-gap: 64px;
}
@supports (--css: variables) {
  .mzp-t-content-lg .mzp-l-columns.mzp-t-columns-three,
  .mzp-t-content-lg.mzp-l-columns.mzp-t-columns-three,
  .mzp-t-content-lg .mzp-l-columns.mzp-t-columns-four,
  .mzp-t-content-lg.mzp-l-columns.mzp-t-columns-four {
    grid-column-gap: var(--h-grid-md);
    column-gap: var(--h-grid-md);
  }
}

.wnp-content-main {
  background-color: #f0f0f4;
  color: #000000;
  margin-top: 16px;
}

.wnp-main-title {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.1;
  color: #000000;
  margin: 0 auto 64px;
  max-width: 688px;
  text-align: center;
}
@media (min-width: 768px) {
  .wnp-main-title {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.166;
  }
}
@supports (--css: variables) {
  .wnp-main-title {
    font-size: var(--title-md-size);
    line-height: var(--title-md-line-height);
  }
  @media (min-width: 768px) {
    .wnp-main-title {
      font-size: var(--title-lg-size);
      line-height: var(--title-lg-line-height);
    }
  }
}

.c-box {
  max-width: 432px;
  margin: 0 auto 32px;
}
.c-box .c-box-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.c-box .c-box-image {
  background: #f7e2ff;
  border-radius: 16px 16px 0 0;
  display: block;
  padding: 4px;
  text-align: center;
}
.c-box.box-one .c-box-image {
  background: #b5b5ff;
}
.c-box.box-two .c-box-image {
  background: #e7dFff;
}
.c-box.box-three .c-box-image {
  background: #d9bfff;
}
.c-box .c-box-title {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .c-box .c-box-title {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
@supports (--css: variables) {
  .c-box .c-box-title {
    font-size: var(--title-3xs-size);
    line-height: var(--title-3xs-line-height);
  }
  @media (min-width: 768px) {
    .c-box .c-box-title {
      font-size: var(--title-2xs-size);
      line-height: var(--title-2xs-line-height);
    }
  }
}
.c-box .c-box-body {
  background: #ffffff;
  padding: 16px;
  border-radius: 0 0 16px 16px;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}
.c-box .c-box-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: start;
  height: 100%;
  position: relative;
}
.c-box .c-box-content p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  height: 100%;
}
@supports (--css: variables) {
  .c-box .c-box-content p {
    font-size: var(--body-sm-size);
    line-height: var(--body-line-height);
  }
}

@media (min-width: 1024px) and (prefers-reduced-motion: no-preference) {
  .boxes-closed .c-box {
    min-height: 25rem;
    position: relative;
    max-width: none;
    margin: 0;
  }
  .boxes-closed .c-box .c-box-inner {
    position: absolute;
  }
  .boxes-closed .c-box .c-box-body {
    height: 2.75rem;
    padding-bottom: 32px;
    transition: height 350ms ease-in-out;
    position: relative;
  }
  .boxes-closed .c-box .c-box-body::after {
    background: url("../img/icons/arrow-down.svg") center center no-repeat;
    bottom: 8px;
    content: "";
    display: block;
    height: 24px;
    opacity: 0.5;
    position: absolute;
    right: 16px;
    width: 24px;
    transition: opacity 300ms 50ms ease;
  }
  .boxes-closed .c-box .c-box-body p {
    height: 100%;
  }
  .boxes-closed .c-box .c-box-content {
    height: 0;
    overflow: hidden;
    transition: height 350ms ease-in-out;
  }
  .boxes-closed .c-box .c-box-inner:hover,
  .boxes-closed .c-box .c-box-inner:focus,
  .boxes-closed .c-box .c-box-inner:focus-within {
    outline: 0;
  }
  .boxes-closed .c-box .c-box-inner:hover .c-box-body,
  .boxes-closed .c-box .c-box-inner:focus .c-box-body,
  .boxes-closed .c-box .c-box-inner:focus-within .c-box-body {
    height: 100%;
  }
  .boxes-closed .c-box .c-box-inner:hover .c-box-body::after,
  .boxes-closed .c-box .c-box-inner:focus .c-box-body::after,
  .boxes-closed .c-box .c-box-inner:focus-within .c-box-body::after {
    opacity: 0;
  }
  .boxes-closed .c-box .c-box-inner:hover .c-box-content,
  .boxes-closed .c-box .c-box-inner:focus .c-box-content,
  .boxes-closed .c-box .c-box-inner:focus-within .c-box-content {
    height: 100%;
  }
}
.wnp-sign-off {
  text-align: center;
  color: #000000;
}
